/* font */

    /* Montserrat */

        /* Extra Bold Italic */
        @font-face {
            font-family: 'Montserrat-ExtraBoldItalic';
            src: url('../src/font/Montserrat-ExtraBoldItalic.woff') format('woff');
        }
        .f-Montserrat-eb-i {
            font-family: 'Montserrat-ExtraBoldItalic';
        }

    /* LINE Seed JP */

        /* Bold */
        @font-face {
            font-family: 'LINESeedJP-Bd';
            src: url('../src/font/LINESeedJP_TTF_Bd.woff') format('woff');
        }
        .f-LineSeedJp-Bd {
            font-family: 'LINESeedJP-Bd';
        }

        /* Extra Bold */
        @font-face {
            font-family: 'LINESeedJP-Eb';
            src: url('../src/font/LINESeedJP_TTF_Eb.woff') format('woff');
        }
        .f-LineSeedJp-Eb {
            font-family: 'LINESeedJP-Eb';
        }

        /* Regular */
        @font-face {
            font-family: 'LINESeedJP-Rg';
            src: url('../src/font/LINESeedJP_TTF_Rg.woff') format('woff');
        }
        .f-LineSeedJp-Rg {
            font-family: 'LINESeedJP-Rg';
        }

        /* Thin */
        @font-face {
            font-family: 'LINESeedJP-Th';
            src: url('../src/font/LINESeedJP_TTF_Th.woff') format('woff');
        }
        .f-LineSeedJp-Th {
            font-family: 'LINESeedJP-Th';
        }

    /* Kaisei-Decol */

        /* Bold */
        @font-face {
            font-family: 'Kaisei-Decol-Bd';
            src: url('../src/font/KaiseiDecol-Bold.woff') format('woff');
        }
        .f-Kaisei-Decol-Bd {
            font-family: 'Kaisei-Decol-Bd';
        }