/* font */

    /* Montserrat */

        /* Medium Italic */
        @font-face {
            font-family: 'Montserrat-MediumItalic';
            src: url('../src/font/Montserrat/Montserrat-MediumItalic.ttf') format('truetype'), local(sans-serif);
        }
        .f-Montserrat-md-i {
            font-family: 'Montserrat-MediumItalic';
        }

        /* Extra Bold Italic */
        @font-face {
            font-family: 'Montserrat-ExtraBoldItalic';
            src: url('../src/font/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype'), local(sans-serif);
        }
        .f-Montserrat-eb-i {
            font-family: 'Montserrat-ExtraBoldItalic';
        }

        .f-LineSeedJp-Th {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 200;
            font-style: normal;
            transform:rotateZ(0.03deg);

        }

        .f-LineSeedJp-Rg {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 400;
            font-style: normal;
            transform:rotateZ(0.03deg);
        }

        .f-LineSeedJp-Bd {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 700;
            font-style: normal;
            transform:rotateZ(0.03deg);
        }

        .f-LineSeedJp-Eb {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

    /* Kaisei-Decol */

        /* Bold */
        @font-face {
            font-family: 'Kaisei-Decol-Bd';
            src: url('../src/font/Kaisei_Decol/KaiseiDecol-Bold.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Decol-Bd {
            font-family: 'Kaisei-Decol-Bd';
        }

        /* Medium */
        @font-face {
            font-family: 'Kaisei-Decol-Md';
            src: url('../src/font/Kaisei_Decol/KaiseiDecol-Medium.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Decol-Md {
            font-family: 'Kaisei-Decol-Md';
        }

        /* Regular */
        @font-face {
            font-family: 'Kaisei-Decol-Rg';
            src: url('../src/font/Kaisei_Decol/KaiseiDecol-Regular.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Decol-Rg {
            font-family: 'Kaisei-Decol-Rg';
        }

    /* Kaisei-Opti */

        /* Bold */
        @font-face {
            font-family: 'Kaisei-Opti-Bd';
            src: url('../src/font/Kaisei_Opti/KaiseiOpti-Bold.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Opti-Bd {
            font-family: 'Kaisei-Opti-Bd';
        }

        /* Medium */
        @font-face {
            font-family: 'Kaisei-Opti-Md';
            src: url('../src/font/Kaisei_Opti/KaiseiOpti-Medium.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Opti-Md {
            font-family: 'Kaisei-Opti-Md';
        }

        /* Regular */
        @font-face {
            font-family: 'Kaisei-Opti-Rg';
            src: url('../src/font/Kaisei_Opti/KaiseiOpti-Regular.ttf') format('truetype'), local(serif);
        }
        .f-Kaisei-Opti-Rg {
            font-family: 'Kaisei-Opti-Rg';
        }