/* font */
    /* Montserrat */
        /* Extra Bold Italic */
        @font-face {
            font-family: 'Montserrat-ExtraBoldItalic';
            src: url('../src/font/Montserrat-ExtraBoldItalic.woff') format('woff'), local(sans-serif);
        }
        .f-Montserrat-eb-i {
            font-family: 'Montserrat-ExtraBoldItalic', sans-serif;
        }

        /* Adobe font */
        .f-m-plus-rounded-1p-Lg {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 200;
            font-style: normal;
            transform:rotateZ(0.03deg);

        }
        .f-m-plus-rounded-1p-Rg {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 400;
            font-style: normal;
            transform:rotateZ(0.03deg);
        }
        .f-m-plus-rounded-1p-Bd {
            font-family: "m-plus-rounded-1p", sans-serif;
            font-weight: 700;
            font-style: normal;
            transform:rotateZ(0.03deg);
        }

    /* Kaisei-Decol */
        /* Bold */
        @font-face {
            font-family: 'Kaisei-Decol-Bd';
            src: url('../src/font/KaiseiDecol-Bold.woff') format('woff'), local(serif);
        }
        .f-Kaisei-Decol-Bd {
            font-family: 'Kaisei-Decol-Bd', serif;
        }